<?php if ( ! defined('BASEPATH')) exit('No direct script access allowed');

class {name} extends CI_Controller 
{{

	function __construct() 
	{{
		parent::__construct();
	}}

	function index() 
	{{
		//TODO index implementation
	}}

{functions}

}}
/* End of {name_lower}.php */
/* Location: {location} */
